p {
   font-family: h74;
   font-size: 50px;
   margin: 20px 50%;
}


@font-face {
   font-family: 'h74';
   src: url('HOcelotPiss-Regular.ttf');
   src: url('HOcelotPiss-Regular.woff');
   src: url('HOcelotPiss-Regular.woff2');
   src: url('HOcelotPiss-Regular.svg');
   src: url('HOcelotPiss-Regular.eot');
   src: url('HOcelotPiss-Regular.otf')
}
